* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: black;
}

.container {
  background-color: #191765;
  width: 20%;
  height: 100vh;
  margin: auto;
}

.menucontainer {
  display: flex;
  justify-content: space-between;
  padding: 50px 25px;
}

.menu_icon {
  color: #fff;
}

.name_head {
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}

.part_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px;
}

.part_section h1 {
  color: #9391ff;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  padding-bottom: 20px;
  font-weight: bold;
}

.part_section h2 {
  color: #dfe1e6;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  padding-top: 20px;
  font-weight: lighter;
}

.part_section .article {
  color: #b3bac5;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-top: 80px;
  font-weight: lighter;
  text-align: center;
  line-height: 30px;
}

.division_section {
  background: #646369;
  width: 90%;
  height: 1px;
  margin-top: 40px;
}

.special {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 700px;
  top: 90px;
  background: #edecff;
  filter: blur(40px);
}

@media only screen and (max-width: 764px) {
  .container {
    background-color: #191765;
    width: 50%;
    height: 100vh;
    margin: auto;
  }

  .name_head {
    font-weight: 300;
    font-size: 15px;
  }

  .part_section h1 {
    font-size: 20px;
    font-weight: bold;
  }

  .part_section h2 {
    color: #dfe1e6;
    font-size: 20px;
  }

  .part_section .article {
    color: #b3bac5;
    font-size: 12px;
    line-height: 30px;
  }
}
